.mainCategory a,
.mainCategory p {
    margin: 0;
    padding: 0;
}

.mainCategory {
    margin-bottom: 10px;
}

.mainCategory:last-child {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* inputs styles */
.initial,
input,
textarea,
select {
    border: 1px solid gray;
    background-color: white;
}

input,
select,
textarea {
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    display: block;
}

fieldset {
    border: none;
}

select{
    width: 215px !important;
}

input[type="date"],
input[type="time"] {
    padding: 2px 5px;
}

textarea {
    height: 20px;
}

#subcategory select {
    display: none;
}

#subcategory > select:first-of-type {
    display: block;
}

#form {
    text-align: center;
    font-family: Arial;
}

#form fieldset {
    display: inline-block;
    width: 215px;
    padding: 5px;
    margin: 5px;
    text-align: left;
    vertical-align: top;
}

.valid {
    border: 1px solid green;
}

.invalid {
    border: 1px solid red;
}

.focus {
    border: 1px solid aliceblue;
}

.error,
.success {
    display: none;
}

.error-bg {
    background-color: lightpink;
}

.success-bg {
    background-color: lightgreen;
}

.add-button {
    text-align: center;
    border: gray solid 1px;
    margin-top: 27px;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    background-color: blue;
    color: white;
}

.add-button:hover  {
    background-color: white;
    color: blue;
}
